/* styles.css is the styling for the back button, the light and dark modes, and the light mode/dark mode switch. */

/* back button */
#backBtn {
    float: left;
    margin: 20px;
    padding: 0;
    padding: 14px 16px;
    border: solid 2px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #c7f9cc;
  }
 
  /* Dark Mode */
  .dark {
    background-color:#22577a;
    height: 100vh;
    color: whitesmoke;
  }
  
   /* Light Mode */
   /* changes font color and background color of header in light mode*/
  .light {
    background-color: #c7f9cc;
    color: #08131b;
    height: 100vh;
  }

  /* changes font color and background color of blog posts (the body of the page) in light mode*/
  .light #displayList {
    background-color: #c7f9cc;
    color: #08131b;
    margin: -8px;
  }
  
  /* changes font color and background color of footer in light mode*/
  .light .footer {
    background-color: #c7f9cc;
    color: #08131b;
  }

  /* changes font color of footer's portfolio link in light mode*/
  .light .footer a {
    color: black;
  } 

  /* changes background color of back button in light mode*/
  .light #backBtn {
    background-color: #38a3a5;
  }

  /* position of light mode/dark mode toggle on page */
  .switch {
    position: relative;
    float: right;
    width: 50px;
    height: 30px;
    margin-right: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* position of "background" part of switch */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /* position and dimensions of slider inside switch */
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #22577a;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  /* turns switch white in light mode */
  input:checked + .slider {
    background-color: white;
  }
  
  /* places shadow on switch to make it more visible */
  input:focus + .slider {
    box-shadow: 0 0 3px #38a3a5;
  }
  
  /* how far slider inside switch moves from left to right */
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  /* rounds the shape of the switch */
  .slider.round {
    margin-top: 20px;
    height: 20px;
    border-radius: 34px;
  }
  
  /* rounds the shape of the slider */
  .slider.round:before {
    margin-top: 10px;
    border-radius: 50%;
  }